.idea/
crawl/text/
crawl/__pycache__/
helloworldproject/helloworldproject/__pycache__/
helloworldproject/helloworldapp/__pycache__/
helloworldproject/helloworldapp/migrations/__pycache__/
helloworldproject/blogpost/__pycache__/
helloworldproject/blogpost/migrations/__pycache__/__init__.cpython-37.pyc
helloworldproject/blogpost/migrations/__pycache__/
django_docker/mysql/
django_docker/nginx/log/
django_docker/python/log/
django_docker/src/app/__pycache__/
django_docker/src/view_html/__pycache__/
django_docker/src/view_html/migrations/
django/jsproject/__pycache__/
django/view_html/__pycache__/
django/view_html/migrations/
docker/src/static/css/
docker/src/static/js/
flask_app/__pycache__/
helloworld.com/blog/__pycache__/
helloworld.com/blog/migrations/
helloworld.com/blog/templatetags/__pycache__/
helloworld.com/contact/__pycache__/
helloworld.com/contact/migrations/__pycache__/
helloworld.com/diaries/__pycache__/
helloworld.com/diaries/migrations/
helloworld.com/myprofile/__pycache__/
helloworld.com/myprofile/migrations/
helloworld.com/project/__pycache__/
helloworld.com/reviews/__pycache__/
helloworld.com/videos/__pycache__/
otya/mysql/
otya/src/api/__pycache__/
otya/src/api/migrations/
otya/src/otya_project/__pycache__/
python_folder/__pycache__/
reviewproject/reviewpost/migrations/
vue/hello_app/dist/
