.idea/
crawl/text/
crawl/__pycache__/
helloworldproject/helloworldproject/__pycache__/
helloworldproject/helloworldapp/__pycache__/
helloworldproject/helloworldapp/migrations/__pycache__/
helloworldproject/blogpost/__pycache__/
helloworldproject/blogpost/migrations/__pycache__/__init__.cpython-37.pyc
helloworldproject/blogpost/migrations/__pycache__/
